.contactForm{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}
.formElementGroup{
    display: flex;
    gap: 10px;
}
.formElementContainer{
   display: flex;
   gap: 10px;
   flex-direction: column;
}
.formElementContainer.stretch{
    width: 100%;
}
.formElement{
    font-family: 'AnonymousPro';
    box-shadow: rgba(0, 0, 0, 0.56) 0px 1px 3px 1px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    color: #4c566a;
    padding: 5px;
}
.message{
    width: calc(100% - 10px) !important;
    resize: none;
}