.appContainer {
    min-height: 100vh;
    padding-top: 40px;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.appContent {
    flex-direction: column;
    display: flex;
    gap: 3px;
    padding: 30px;
}

.textCentered {
    text-align: center;
}

.shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2px;
}

.peaks {
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: contain;
}

.special {
    overflow: visible;
}

.leetcodeData {
    display: flex;
    flex-direction: column;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bold {
    font-weight: 800;
}
.group{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(50% - 10px);
}
.group.fill{
    width: 100%;
}
@media screen and (max-width: 900px) {
    .group{
        width: 100%;
    }
}