.recharts-wrapper>svg>g {
    outline: none !important;
}

.recharts-surface {
    overflow: visible;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthSelectContainer {
    margin: 16px 0;
    display: flex;
    justify-content: center;
}

.linksGroup {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}